<div>
  <link href="./author1.css" rel="stylesheet" />
  <div class="author1-author">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1618151313441-bc79b11e5090?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEzfHxwb3RyYWl0fGVufDB8fHx8MTY2OTA2MTI0MQ&ixlib=rb-4.0.3&w=200"
      class="author1-avatar"
    />
    <div class="author1-details">
      <span class="author1-text"><span>Joanna Smith</span></span>
      <span class="author1-text1"><span>@spyrl</span></span>
    </div>
  </div>
</div>
