<div>
  <link href="./client1.css" rel="stylesheet" />
  <div class="client1-client">
    <span class="client1-text">
      <span>
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.“
      </span>
    </span>
    <div class="client1-author">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1618151313441-bc79b11e5090?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEzfHxwb3RyYWl0fGVufDB8fHx8MTY2OTA2MTI0MQ&ixlib=rb-4.0.3&w=200"
        class="client1-avatar"
      />
      <div class="client1-details">
        <span class="client1-text1"><span>Joanna Smith</span></span>
        <span class="client1-text2"><span>@agncy</span></span>
      </div>
    </div>
  </div>
</div>
